{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Регистрация</h1>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Логин</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    <a href="{{ url_for('login') }}" class="btn btn-link">Уже есть аккаунт?</a>
</form>
{% endblock %}