{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Редактировать профиль</h1>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Новый никнейм</label>
        <input type="text" class="form-control" name="username" value="{{ current_user.username }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" value="{{ current_user.email }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Аватар</label>
        <input type="file" class="form-control" name="avatar" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}